html{
   background: grey;
}

h1{
    text-align: center;
    font-style: italic;
   
}
.pictures{
    background-color: bisque;
    width: 28%;
    padding: 10%;
    position: relative;
    left:30%;
    right:30%;
    top: 60%;
    bottom:60%;
    border-radius: 10%
}
.bar {
  list-style-type: none;
  margin-top: 600px;
  
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.firste{
  float: right;
}
nav ul li { 
   display: inline-block;

}

nav ul li a {
  display: inline-block;
  margin-right: -4px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
h2{
  color: #111
}
h2{
  text-align: center;

}
ul{
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

